body {
  background-color: lightblue;
}

#top,
#bottom {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 50%;
  margin: auto;
}



#mood-icon {
  
}
