body {
  background-color: lightblue;
  box-sizing: border-box;
  height: auto;
  width: 400px;
}

#title {
  text-align: center;
}

#top,
#bottom {
  display: flex;
  margin-top: 30px;
}

#bottom {
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 50%;
  margin: auto;
}

.btn {
  width: 30px;
  height: 30px;
}

.rotate {
  /* transform: rotate(0.5turn); */
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

input {
  width: 90%;
  margin-top: 15px;
}